{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/filter.css') }}" />
{% endblock %}
{% block content %}
    <body class="test-new">
            <div id=app></div>
            {% if DEBUG %}
                <script src="{{ app.router.static.url(filename='webpack/dev_bundle.js') }}"></script>
            {% else %}
                <script src="{{ app.router.static.url(filename='webpack/common.js') }}"></script>
                <script src="{{ app.router.static.url(filename='webpack/bundle.js') }}"></script>
            {% endif %}
    </body>
{% endblock %}

