{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/style.css') }}" />
{% endblock %}
{% block content %}
    <body class="gradient moring-background">
{#            <div id="wrap">#}
{#                <div id="main" class="clear-top">#}
{#                    <div class="row logo-container">#}
{#                            <div class="col-xs-4">#}
{#                                <img src="{{ app.router.static.url(filename='img/logo_text.png') }}" class="logo-img img-responsive">#}
{#                                <span class="daily-quote">свет и сладость</span>#}
{#                            </div>#}
{#                    </div>#}
{#                    <div id="barmaglot-player"></div>#}
{##}
{##}
{#                </div>#}
{#            </div>#}
{##}
            <!-- FIXME: this should became react component(also all stuff on this page)-->
{#            <footer class="footer row-fluid">#}
{#                <div class="col-sm-4 col-sm-offset-4">#}
{#                    <div class="row">#}
{#                        <div class="social-button col-xs-4 col-sm-4 shake">#}
{#                            <img src="{{ app.router.static.url(filename='img/social/fb.png') }}" class="img-responsive">#}
{#                        </div>#}
{#                        <div class="social-button col-xs-4 col-sm-4 shake">#}
{#                            <img src="{{ app.router.static.url(filename='img/social/mail.png') }}" class="img-responsive center-block">#}
{#                        </div>#}
{#                        <div class="social-button col-xs-4 col-sm-4 shake">#}
{#                            <img src="{{ app.router.static.url(filename='img/social/vk.png') }}" class="img-responsive pull-right">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </footer>#}


        </body>
            <div id=app></div>
            <script src="{{ app.router.static.url(filename='webpack/app.js') }}"></script>
{% endblock %}

