{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/style.css') }}" />
{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ app.router.static.url(filename="js/barmaglot_player.js") }}"></script>
{% endblock %}
{% block content %}
    <body>
            <div id="wrap">
                <div id="main" class="clear-top">
                    <div class="row logo-container">
                            <div class="col-xs-4">
                                <img src="{{ app.router.static.url(filename='img/logo_text.png') }}" class="img-responsive">
                                <span class="daily-quote">Свет и мерзость</span>
                            </div>
                    </div>

                    <div class="row player-controlls">
                            <div class="col-sm-4 col-sm-offset-4 shake">
                                <div class="playback-pause center-block">
                                </div>
                                <div class="playback-play center-block">
                                </div>
                            </div>
                    </div>
                    <div class="row player-container">
                        <div class="col-sm-4 col-sm-offset-4 player">
                            <audio id="barmaglot-player" preload="none">
                                <source src="http://195.248.234.62:8000/radioskovoroda" type="audio/mpeg"/>
                            </audio>
                            <div>
                            </div>
                        </div>
                        
                        <div class="track-and-volume-wrapper">

                            <div class="trackInfoWrapper">
                                <div class="trackInfo">
                                       <p>pink floyd - wish you where here</p>
                                </div>
                            </div>

                            <div class="volume-bars-wrapper">
                                <div class="volume-bars">
                                  <div class='volume-bar one red'></div>
                                  <div class='volume-bar two'></div>
                                  <div class='volume-bar three'></div>
                                  <div class='volume-bar four'></div>
                                  <div class='volume-bar five'></div>
                                </div>
                            </div>

                        </div>
                                                
                    </div>

                </div>
            </div>

            <footer class="footer row-fluid">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="row">
                        <div class="social-button col-xs-4 col-sm-4 shake">
                            <img src="{{ app.router.static.url(filename='img/social/fb.png') }}" class="img-responsive">
                        </div>
                        <div class="social-button col-xs-4 col-sm-4 shake">
                            <img src="{{ app.router.static.url(filename='img/social/mail.png') }}" class="img-responsive center-block">
                        </div>
                        <div class="social-button col-xs-4 col-sm-4 shake">
                            <img src="{{ app.router.static.url(filename='img/social/vk.png') }}" class="img-responsive pull-right">
                        </div>
                    </div>
                </div>
            </footer>


        </body>
        <script>
            var player = new Player(playButton='.playback-play',
                                    pauseButton='.playback-pause',
                                    playerContainer='#barmaglot-player');

            var eventSource = new EventSource("/api/track_stream");
            eventSource.addEventListener("track_update", function(event){
                console.log(event.data)
            });

            eventSource.onerror = function(event){
                console.log(event);
            }
        </script>
{% endblock %}

