
/* TODO: fix animation for FF*/

/* preload hack for images used in filters */
body:after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url('../img/morn.png') url('../img/day.png') url('../img/evening.png');
}


@-webkit-keyframes morning-day {
    0% {
        background-image: url('../img/morn.png');
    }
    100% {
        background-image: url('../img/day.png');
    }
}


@-webkit-keyframes day-evening {
    0% {
        background-image: url('../img/day.png');
    }
    100% {
        background-image: url('../img/evening.png');
    }
}

@-webkit-keyframes evening-morning {
    0% {
        background-image: url('../img/evening.png');
    }
    100% {
        background-image: url('../img/morn.png');
    }
}

.morning-day {
  -webkit-animation-name: morning-day;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

.day-evening {
  -webkit-animation-name: day-evening;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

.evening-morning {
  -webkit-animation-name: evening-morning;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 14s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

.test-new{
    background: url('../img/playlist.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

}


.day {
    background: url('../img/day.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;

}

.evening {
    background: url('../img/evening.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.morning {
    background: url('../img/morn.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

