html, body {
  height: 100%;
}

/*body {*/
  /*background:*/
          /*linear-gradient(to bottom,rgba(228, 182, 158, 0.88) 5%, rgb(140, 53,1) 95%),*/
          /*url("../img/background.png") no-repeat center center fixed;*/
  /*background-size: cover;*/
  /*overflow: hidden;*/
  /*background-blend-mode: hue;*/

/*}*/

.default-background {
  background:
          url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.morning-background {
  background:
          linear-gradient(to bottom,rgba(228, 182, 158, 0.88) 5%, rgb(140, 53,1) 95%),
          url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: hue;
}

.day-background {
  background:
          linear-gradient(to bottom, rgba(198, 213, 186, 0.1) 30%, rgba(198, 213, 186, 0.73) 60%),
          url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: color-burn;
}


.evening-background {
  background:
          linear-gradient(to bottom, rgba(233, 99, 0, 0.1) 30%, rgba(233, 99, 0, 0.7) 60%),
          url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: color-burn;
}


p{
  margin: 0px;
  padding: 0px;
}


#wrap {
  min-height: 100%;
}

#main {
  min-height: 100%;
  /*overflow:auto;*/
  padding-bottom:5% /* this needs to be bigger than footer height*/
}

.logo-container .col-xs-4{
  margin: 4% 0 0 4%;
}

.logo-img {
  max-width: 77%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

} 


.daily-quote {
  font-family: gogol;
  font-size: 2.5vw;
  color: #ca0600;
}

/* Player Section */

.col-sm-4.col-sm-offset-4.shake{
  position: absolute;
  top: 53%;
  height: 100px;
  margin-top: -50px;
  left: 40%;
  width: 430px;
  margin-left: 0;
  padding: 0px;
}

.player-controlls {
  margin-top: 12%
}

.player-container {
  margin-top: 13%;
  height: 8.7%;
}

.player {
  visibility: hidden;
  height: 3.2%;
  background-color: black;
  opacity: 0.7;
  border-radius: 5px;
}

/*Track info bar*/
.player-container .col-sm-4{
  margin: 0 15%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .track-and-volume-wrapper{
    width: 363px;
    margin-left: 0;
    left: 20%;
    position: absolute;
    top: 87%;
  }
  .col-sm-4.col-sm-offset-4.shake{
    width: 363px;
    left: 20%;
  }
  .trackInfoWrapper{
    width: 291px;
    float: left;
  }

  .volume-bars-wrapper{
    width:70px;
    float:left;
  }
  footer.footer .col-sm-4.col-sm-offset-4{
    width: 363px;
    left: 22%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

  .col-sm-4.col-sm-offset-4.shake{
    width: 285px;
    left: 6%;
  
  }
  
  .track-and-volume-wrapper{
    width: 285px;
    left: 10%;
    position: absolute;
    top: 91%;
    height: 100px;
    margin-top: -50px;
  }

  .trackInfoWrapper{
    width: 70%;
    float: left;
  }

  .volume-bars-wrapper{ 
    width: 26%;
    float: left;
  }
  footer.footer .col-sm-4.col-sm-offset-4{
    width: 285px;
    left: 11%;
  }

}

@media only screen and (min-width: 768px) {
  .col-sm-4.col-sm-offset-4.shake{
    left: 34%;

  }
  .track-and-volume-wrapper{
    width: 430px;
    margin: 0 auto;
    position: absolute;
    top: 91%;
    height: 100px;
    margin-top: -50px;
    left: 34%;
  }

  .trackInfoWrapper{
    width: 360px;
    float: left;
  }

  .volume-bars-wrapper{ 
    width: 70px;
    float: left;
  }
  footer.footer .col-sm-4.col-sm-offset-4{
    width: 430px;
    left: 43%;
  }

}

.trackInfo{
  background: rgba(00, 00, 00, 0.5);
  height: 35px;
  border-radius: 5px;
}
.trackInfo p{
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 6px;
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee p {
  display: block;
  width: 200%;

  position: absolute;
  overflow: hidden;

  animation: marquee 8s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

.marquee p:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -260% }
}

/* Volume bars */
.volume-bars {
  height: 60px;
  margin-top: -26px;
}

.volume-bar {
  position: relative;
  width: 11px;
  opacity: 0.7;
  background-color: #fff;
  margin-left: 3px;
  float: left;
  border-radius: 2px;
}

.volume-bar.one {
  top: 58%;
  height: 42%;
}

.volume-bar.two {
  top: 44%;
  height: 55.5%;
}

.volume-bar.three {
  top: 31%;
  height: 69%;
}

.volume-bar.four {
  top: 17.5%;
  height: 82.5%;
}

.volume-bar.five {
  height: 100%;
}

.volume-bar:hover{
  opacity: 1;
}
.volume-bar.red{
  background-color: #fa0000;
}

.volume-bar.red:hover {
  opacity: 1;
}

/* play button  */
.playback-play  {
  position: relative;
  background-color: white;
  opacity: 0.7;
  text-align: left;
  top: 0.5em;
}
.playback-play:before,
.playback-play:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.playback-play,
.playback-play:before,
.playback-play:after {
  width:  4em;
  height: 4em;
  border-top-right-radius: 30%;
}

.playback-play  {
  transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
.playback-play:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.playback-play:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.playback-play {
  filter: drop-shadow(4px 7px 10px rgb(0,0,0));
  -webkit-filter: drop-shadow(4px 7px 10px rgb(0,0,0));
}
/* play button end */


/* pause button  */

.playback-pause {
  position: relative;
  width: 1px; 
  height: 6.5em;
  background-color: transparent; 
  opacity: 0.7;
}

.playback-pause:before {
    width: 1.7em;
    height: 6.5em;
    background: #fff;
    position: absolute;
    border-radius: 9px;
    content: "";
    left: 9px;
}

.playback-pause:after {
    width: 1.7em;
    height: 6.5em;
    background: #fff;
    position: absolute;
    border-radius: 9px;
    content: "";
    right: 9px;
}

.playback-pause:before, 
.playback-pause:after,
.playback-pause {
  filter: drop-shadow(4px 7px 20px rgb(0,0,0));
  -webkit-filter: drop-shadow(-4px 7px 20px rgb(0,0,0));
}

/* pause button end */

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

body .row .social-button.col-xs-4.col-sm-4.shake{
  padding-left: 10px;
  padding-right: 10px;
  width: 4em;
}
footer.footer .col-sm-4.col-sm-offset-4{
  margin: 0 auto;
  position: absolute;
}

.playback-play {

}


/* Leaves and bugs */

.fur.center-block {
  padding-left: 61%;
  padding-top: 15%;

}
.fur.center-block>img {
  animation-name: windshiver;
  animation-duration: 3s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 3em;
  background-color: white;
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */

}



@keyframes windshiver {
  0% { transform: rotate(3deg); }
  10% { transform: rotate(5deg); }
  20% { transform: rotate(7deg); }
  30% { transform: rotate(9deg); }
  40% { transform: rotate(11deg); }
  50% { transform: rotate(13deg); }
  60% { transform: rotate(15deg); }
  70% { transform: rotate(13deg); }
  80% { transform: rotate(5deg); }
  /*90% { transform: rotate(-2deg); }*/
  /*90% { transform: rotate(-6deg); }*/
}


/* Leaves and bugs END */
/* Animation */

@keyframes spaceboots {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
  animation-name: spaceboots;
  animation-duration: 3s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Fonts */ 

@font-face {
    font-family: gogol;
    src: url("../fonts/gogol_font.ttf");
}