 html, body{
 	width: 100%;
 	height: 100%;
 }


 .wrap {
 	  animation-iteration-count: 1;
 	  animation-fill-mode: forwards;
 	  background-size: cover;
	  overflow: hidden;
	  background-image: url("../img/day.png")

 }   



@keyframes mornday /* Safari and Chrome - necessary duplicate */
{
  0%   {background-image: url("../img/morn.png");}
  100%  {background-image: url("../img/day.png");}
}

@keyframes dayevening /* Safari and Chrome - necessary duplicate */
{
  0%   {background-image: url("../img/day.png");}
  100%  {background-image: url("../img/evening.png");}
}


@keyframes evemorn /* Safari and Chrome - necessary duplicate */
{
  0%   {background-image: url("../img/evening.png");}
  100%  {background-image: url("../img/morn.png");}
}