<!DOCTYPE html>
<html>
<head>
	<title>radio</title>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{{ app.router.static.url(filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endblock %}
    {% block js %}
        <script src="{{ app.router.static.url(filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ app.router.static.url(filename='app/app.component.js') }}"></script>
        <script src="{{ app.router.static.url(filename='app/main.js') }}"></script>
    {% endblock %}
</head>
{% block  content %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Barmaglot Admin</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/admin/quote">Quote</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
</html>