html, body {
  height: 100%;
}

body {
	background: url("../img/background.png") no-repeat center center fixed;
	background-size: cover;

}


#wrap {
  min-height: 100%;
}

#main {
  min-height: 100%;
  overflow:auto;
  padding-bottom:5% /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -5%; /* negative value of footer height */
  height: 5%;
  clear:both;
  margin-bottom: 10px;

} 


.daily-quote {
	font-family: gogol;
	font-size: 47px;
	color: #ca0600;
}

/* Player Section */

.player-controlls {
	margin-top: 12%
}

.player-container {
	margin-top: 13%;
	height: 8.7%;
}

.player {
	height: 3.2%;
	background-color: black;
	opacity: 0.7;
	border-radius: 5px;
}

/* Volume bars */
.volume-bars {
  height: 8.2%;
}

.volume-bar {
  position: relative;
  width: 1.5em;;
  opacity: 0.7;
  background: #fff;
  margin: 5px;
  float: left;
}

.one {
  top: 58%;
  height: 42%;
}

.two {
  top: 45.5%;
  height: 55.5%;
}

.three {
  top: 31%;
  height: 69%;
}

.four {
  top: 17.5%;
  height: 82.5%;
}

.five {
  height: 100%;
}

/* play button  */
.playback-play  {
	position: relative;
	background-color: white;
	opacity: 0.7;
	text-align: left;
	top: 0.5em;
}
.playback-play:before,
.playback-play:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.playback-play,
.playback-play:before,
.playback-play:after {
	width:  4em;
	height: 4em;
	border-top-right-radius: 30%;
}

.playback-play  {
	transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
.playback-play:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.playback-play:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.playback-play {
	filter: drop-shadow(4px 7px 10px rgb(0,0,0));
	-webkit-filter: drop-shadow(4px 7px 10px rgb(0,0,0));
}
/* play button end */


/* pause button  */

.playback-pause {
  position: relative;
  width: 1px; 
  height: 6.5em;
  background-color: transparent; 
  opacity: 0.7;
}

.playback-pause:before {
    width: 1.7em;
    height: 6.5em;
    background: #fff;
    position: absolute;
    border-radius: 9px;
    content: "";
    left: 9px;
}

.playback-pause:after {
    width: 1.7em;
    height: 6.5em;
    background: #fff;
    position: absolute;
    border-radius: 9px;
    content: "";
    right: 9px;
}

.playback-pause:before, 
.playback-pause:after,
.playback-pause {
	filter: drop-shadow(4px 7px 20px rgb(0,0,0));
	-webkit-filter: drop-shadow(-4px 7px 20px rgb(0,0,0));
}

/* pause button end */

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.playback-play {

}

/* Animation */

@keyframes spaceboots {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	animation-name: spaceboots;
	animation-duration: 3s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* Fonts */ 

@font-face {
    font-family: gogol;
    src: url(GOGOGL.otf);
}
