
<!DOCTYPE html>
<html>
<head>
	<title>radio</title>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% endblock %}
    {% block js %}
        <script src="https://code.jquery.com/jquery-3.0.0-alpha1.js"></script>
    {% endblock %}
</head>
{% block  content %}

{% endblock %}
</html>