
<!DOCTYPE html>
<html>
<head>
	<title>radio</title>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/login.css') }}" />
    {% endblock %}
    {% block js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validator/5.6.0/validator.min.js"></script>
    {% endblock %}
</head>
{% block  content %}
{% endblock %}
</html>
