
<!DOCTYPE html>
<html>
<head>
	<title>radio</title>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{{ app.router.static.url(filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endblock %}
    {% block js %}
        <script src="{{ app.router.static.url(filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    {% endblock %}
</head>
{% block  content %}

{% endblock %}
</html>
