{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <span id="admin_app"></span>
{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/login.css') }}" />
{% endblock %}
{% block js %}
    {{ super() }}
    <span id="login-wrapper"></span>
    <span id="quota-admin"></span>
    <script type="text/javascript" src="{{ app.router.static.url(filename='bower_components/validator-js/validator.min.js') }}"></script>
    <script src="{{ app.router.static.url(filename='webpack/admin.js') }}"></script>
{% endblock %}