{% extends "admin/base_admin.html" %}

{% block content %}
    {{ super() }}
    <span id="login-wrapper"></span>

{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/login.css') }}" />
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ app.router.static.url(filename='bower_components/validator-js/validator.min.js') }}"></script>
    <script type="text/babel" src="{{ app.router.static.url(filename='js/login.jsx') }}"></script>
{% endblock %}